{% extends "layout.html" %}
{% block head_js_block %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script>
$().ready(function() {
// 在键盘按下并释放及提交后验证提交表单
    $("#signupForm").validate({
        rules: {
            username: {
                required: true,
                minlength: 2,
                maxlength: 80
            },
            fullname: "required",
            password: {
                required: true,
                minlength: 8,
                maxlength: 30
            },
            confirm_password: {
                required: true,
                minlength: 8,
                maxlength: 30,
                equalTo: "#password"
            },
            email: {
                required: true,
                email: true
            },
            phone: {
                required: true
            }
        },
        messages: {
            username: {
                required: "Required.",
                minlength: "At least 2 characters.",
                maxlength: "At most 80 characters."
            },
            firstname: "Required.",
            lastname: "Required.",
            password: {
                required: "Required.",
                minlength: "At least 8 characters.",
                maxlength: "At most 30 characters."
            },
            confirm_password: {
                required: "Required.",
                minlength: "At least 8 characters.",
                maxlength: "At most 30 characters.",
                equalTo: "Passwords mismatch."
            },
            email: "Wrong format.",
            phone: {
                required: "Required.",
                matches:"[0-9\\-\\(\\)\\s]+"
            }
        }
    });
});
</script>
<style>
.error{
    color:red;
}
</style>
{% endblock %}

{% block body_block %}
    <section class="container-fluid modal fade registerform col-xs-8 col-xs-push-4" id="signInModal" role="dialog">
        <div class="modal-dialog row row-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign In</h4>
                </div>
                <form id="signinForm" name="data" class="form-horizontal" action="login" method="post">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="signin_username" class="col-sm-4 control-label">Username</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="signin_username" placeholder="Userame" name="username" value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="signin_password" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="signin_password" name="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default btn-success" name="submit" value="Log in" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="container-fluid modal fade registerform col-xs-8 col-xs-push-4" id="signUpModal" role="dialog">
        <div class="modal-dialog row row-content">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <form id="signupForm" name="data" class="form-horizontal" action="signup" method="post">
                    <div class="modal-body">

						<div class="form-group">
                            <label for="username" class="col-sm-4 control-label">Username</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="username" placeholder="Userame" name="username" value="" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fullname" class="col-sm-4 control-label">Full Name</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="fullname" placeholder="Full Name" name="fullname" value="" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirm_password" class="col-sm-4 control-label">Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">Phone</label>
                            <div class="col-xs-12 col-sm-8">
                                <input type="text" class="form-control" id="phone" placeholder="Phone number" name="phone" value="" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-default btn-success" name="submit" value="Create Account" href="discover.html"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% if session.username is defined and session.username != None %}
    <section id="momentum" class="container-fluid main">
        <div class="row row-content">
            <div class="col-xs-12 title">
            	<div class="col-xs-6 col-xs-offset-3 group">
	                <p>Welcome to Cupid</p>
            		<h4>Find people who are having the same thoughts with you.</h4>
					<div class="row">
				        <div class="wizard col-md-10 col-md-offset-1">
				            <div class="wizard-inner">
				                <div class="connecting-line"></div>
				                <ul class="nav nav-tabs" role="tablist">
				                    <li role="presentation" class="active">
				                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="What">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-glass"></i>
				                            </span>
				                        </a>
				                    </li>

				                    <li role="presentation" class="disabled">
				                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Where">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-map-marker"></i>
				                            </span>
				                        </a>
				                    </li>
				                    <li role="presentation" class="disabled">
				                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Whenh">
				                            <span class="round-tab">
				                                <i class="glyphicon glyphicon-calendar"></i>
				                            </span>
				                        </a>
				                    </li>
				                </ul>
				            </div>

				            <form role="form" id="createEventForm">
				                <div class="tab-content">
				                    <div class="tab-pane active" role="tabpanel" id="step1">
				                        <input class="form-control" id="message" placeholder="Type an activity that you want to do"></input>
				                        <ul class="list-inline pull-right">
				                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
				                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
				                        </ul>
				                    </div>
				                    <div class="tab-pane" role="tabpanel" id="step2">
				                        <input class="form-control" id="location" placeholder="Type a place that you want to go"></input>
				                        <ul class="list-inline pull-right">
				                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
				                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
				                            <li><button type="button" class="btn btn-primary next-step">Save and continue</button></li>
				                        </ul>
				                    </div>
				                    <div class="tab-pane" role="tabpanel" id="step3">
				                        <input class="form-control" id="time" placeholder="Type the date and time you want to go"></input>
				                        <ul class="list-inline pull-right">
				                            <li><button type="button" class="btn btn-default prev-step">Previous</button></li>
				                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>
				                            <li><button type="submit" class="btn btn-primary btn-info-full next-step">Complete</button></li>
				                        </ul>
				                    </div>
				                </div>
				            </form>
				        </div>
				   </div>
				</div>
			</div>
        </div>
    </section>
    {% endif %}

	<div id="googleMap"></div>
{% endblock %}