<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}">
    {% block head_css_block %}{% endblock %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/map.js') }}"></script>
    {% block head_js_block %}{% endblock %}
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Cupid</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    {% if session.username is defined and session.username != None %}
                    <li class="focus"><a href="/create"><p>Create Event</p><span class="sr-only">(current)</span></a></li>
                    {% endif %}
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    {% if session.username is not defined or session.username == None %}
                    <button class="btn login" data-toggle="modal" data-target="#signInModal">Sign In</button>
                    <button class="btn register" data-toggle="modal" data-target="#signUpModal">Sign Up</button>
                    {% else %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ session.fullname[0] | upper }}&nbsp;&nbsp;<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="logout">Sign out</a ></li>
                        </ul>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block body_block %}{% endblock %}
    {% block body_js_block %}{% endblock %}
</body>
</html>